body {
  background-color: rgb(50, 18, 69);
  font-family: 'Poppins', sans-serif;
}

.TodoWrapper {
  width: fit-content;
  background-color: rgb(173, 41, 235);
  color: white;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem 4rem 5rem;
  border-radius: 1rem;
}

h1 {
  margin: 0.5rem 0;
}

.TodoForm {
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 ;
}

.TodoForm input {
  border: none;
  width: 57%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 0.4rem;
}

.TodoForm input:focus {
  outline: none;
}

.TodoForm button {
  border: none;
  border-radius: 0.4rem;
  width: 30%;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  color: rgb(173, 41, 235);
}

.Todo {
  border: 0.1rem solid white;
  border-radius: 0.4rem;
  width: 29.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin: 1rem 0rem;
}

.Todo p {
  margin: 0;
  padding: 0.5rem 1.5rem;
}

.Todo div {
  padding: 0.5rem 1.5rem;
  width: 3rem;
  display: flex;
  justify-content: space-between;
}

